{% load static %}
{% extends 'blog/base.html' %}
{% block title %}Your Profile{% endblock %}
{% block content %}
<h1>Your Profile</h1>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <fieldset>
    <legend>Account</legend>
    {{ user_form.as_p }}
  </fieldset>

  <fieldset>
    <legend>Profile</legend>
    {{ profile_form.as_p }}
  </fieldset>

  <button type="submit">Save changes</button>
</form>

{% if request.user.profile.avatar %}
  <p>Current avatar:</p>
  <img src="{{ request.user.profile.avatar.url }}" alt="avatar" width="120">
{% endif %}
{% endblock %}
